*{
  margin: 0;
  padding: 0;
  
}
body {
    font-family: 'Arial', sans-serif;
    background-color: #333;
    color: white;
    height: 100vh;
  }
  section {
    margin: 20px;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
  }
  
  th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  th {
    background-color: #6a309e;
    color: white;
  }
  
  section h2 {
    color: #333;
  }
  
  
  header {
    background-color: #6a309e;
    color: white;
    padding: 05px;
    text-align: center;
  }
  
  section {
    margin: 20px;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
  }
  
  th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  th {
    background-color: #6a309e;
    color: white;
  }
  
  section h2 {
    color: #333;
  }
  
  input {
    width: 60px;
    padding: 6px;
    margin: 2px;
    box-sizing: border-box;
  }

  button {
    padding: 8px;
    background-color: #6a309e;
    color: black;
    border: none;
    cursor: pointer;
  }
  .bemvindo{
    text-align: center;
    padding-top: 25px;
  }
#horarios table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

#horarios th, #horarios td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

#horarios th {
  background-color: #6a309e;
  color: white;
}
.postlogintext{
  text-align: center;
  color: white;
  font-size: large;
}
.logo-rock {
  width: 65px;
  margin-right: 8rem;
}
.logoNavBar {
  width: 200px;
  /* height: 60px; */
}

.header {
  
  
  background-color: #6a309e;
  color: aliceblue;
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-items: center;
  padding: 15px 30px;
  flex-wrap: wrap;
}
a{
  text-decoration: none;
  color: white;
}